 .slide-ctr{
     height: 100%;
     width:100%;
     background:white;

     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .slide-ctr .btn-slide{
    color:white;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border:none;
    border-radius: 50px;
    font-size:15px;
    outline: none;
}



 .slide-ctr .slide-box{
    height: 100%;
    width:80%;
    background: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.slide-ctr .slide-box .slide-item{
    height:80%;
    width:300px;
    background: white;
    margin:5px;
}

.slide-ctr .slide-box .slide-item img{
    height: 100%;
    width:100%;
}